<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/medium_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/medium_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TechTally"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Realme13ProPlusUserDashboard"
            android:exported="false" />
        <activity
            android:name=".SmartphonesOppoReno12ProUserDashboard"
            android:exported="false" />
        <activity
            android:name=".Iphone16ProMaxUserDashboard"
            android:exported="false" />
        <activity
            android:name=".Xiaomi14UltraFullDetailsUserDashboard"
            android:exported="false" />
        <activity
            android:name=".laptopAppleMacbookM3ProReviewsPage"
            android:exported="false" />
        <activity
            android:name=".laptopAppleMacbookM3ProRateAndReviewActivity"
            android:exported="false" />
        <activity
            android:name=".Iphone16ProMaxReviewsPage"
            android:exported="false" />
        <activity
            android:name=".Iphone16ProMaxRateAndReviewActivity"
            android:exported="false" />
        <activity
            android:name=".Iphone16ProMaxReviewsPage"
            android:exported="false" />
        <activity
            android:name=".laptopHuaweiMatebookXProFullDetails"
            android:exported="false" />
        <activity
            android:name=".laptopSamsungGalaxyBook3FullDetails"
            android:exported="false" />
        <activity
            android:name=".laptopAppleM2MacBookPro14FullDetails"
            android:exported="false" />
        <activity
            android:name=".laptopLenovoThinkPadT14sFullDetails"
            android:exported="false" />
        <activity
            android:name=".laptopHuaweiMatebook15FullDetails"
            android:exported="false" />
        <activity
            android:name=".laptopXiaomiNotebookPro120gFullDetails"
            android:exported="false" />
        <activity
            android:name=".laptopXiaomiMatebookPro120gFullDetails"
            android:exported="false" />
        <activity
            android:name=".laptopXiaomiMatebookPro120G"
            android:exported="false" />
        <activity
            android:name=".laptopLenovoLegion7iFullDetails"
            android:exported="false"
            android:theme="@style/Theme.TechTally" />
        <activity
            android:name=".xiaomiLaptopMatebookPro120gFullDetails"
            android:exported="false" />
        <activity
            android:name=".lenovoLegion7iFullDetails"
            android:exported="false" />
        <activity
            android:name=".laptopLenovoLegion7i"
            android:exported="false" />
        <activity
            android:name=".laptopAppleMacbookM3ProFullDetails"
            android:exported="false" />
        <activity
            android:name=".laptopSamsungGalaxyBook4SeriesFullDetails"
            android:exported="false" />
        <activity
            android:name=".laptopSamsungGalaxyBook4Series"
            android:exported="false" />
        <activity
            android:name=".ExampleViewPager"
            android:exported="false" />
        <activity
            android:name=".LenovoChromebookDuet11"
            android:exported="false" />
        <activity
            android:name=".laptopMacbookM3ProFullDetails"
            android:exported="false" />
        <activity
            android:name=".smartphoneInfinixNote40PlusFullDetails"
            android:exported="false" />
        <activity
            android:name=".smartphoneRealmeC61FullDetails"
            android:exported="false" />
        <activity
            android:name=".smartphoneXiaomiRedmiNote14_5G_FullDetails"
            android:exported="false" />
        <activity
            android:name=".smartphoneXiaomiRedmiNote14_5G"
            android:exported="false" />
        <activity
            android:name=".smartphoneOppoReno12ProFullDetails"
            android:exported="false" />
        <activity
            android:name=".smartphoneGooglePixel9ProFullDetails"
            android:exported="false" />
        <activity
            android:name=".SamsungGalaxyS24UltraFullDetails"
            android:exported="false" />
        <activity
            android:name=".VivoX100ProFullDetails"
            android:exported="false" />
        <activity
            android:name=".samsung_galaxy_s24ultra_full_details"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".XiaomiPad6ProFullDetails"
            android:exported="false" />
        <activity
            android:name=".RealmePad2FullDetails"
            android:exported="false" />
        <activity
            android:name=".OppoPad2FullDetails"
            android:exported="false" />
        <activity
            android:name=".Ipad13ProFullDetails"
            android:exported="false" />
        <activity
            android:name=".GalaxyTabS10UltraFullDetails"
            android:exported="false" />
        <activity
            android:name=".SamsungGalaxyS24ReviewsPage"
            android:exported="false" />
        <activity
            android:name=".SamsungGalaxyS24RateAndReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilePageActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".OppoReno12ProFullDetails"
            android:exported="false" />
        <activity
            android:name=".Xiaomi14UltraFullDetails"
            android:exported="false" />
        <activity
            android:name=".Realme13ProPlusFullDetails"
            android:exported="false" />
        <activity
            android:name=".Iphone16ProMaxFullDetails"
            android:exported="false" />
        <activity
            android:name=".viewpager"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".SamsungGalaxyS24FullDetails"
            android:exported="false" />
        <activity
            android:name=".TabletRatingsActivity"
            android:exported="false" />
        <activity
            android:name=".SmartphoneRatingsActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewDeviceActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Iphone16Activity"
            android:exported="false" />
        <activity
            android:name=".ViewAllActivity"
            android:exported="false" />
        <activity
            android:name=".LaptopActivity"
            android:exported="false" />
        <activity
            android:name=".TabletActivity"
            android:exported="false" />
        <activity
            android:name=".SmartphoneActivity"
            android:exported="false" />
        <activity
            android:name=".NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Login1"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".login_1"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".SignUpPageActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".Login1Activity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".UserDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPageActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>